<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<configSections>
		<section name="MailSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>

	<MailSettings>
		<add key="Server" value="smtp.gmail.com"/>
		<add key="Port" value="587"/>
		<add key="FromName" value="Adminstracion VenarDx"/>
		<add key="FromEmail" value="consultorioappistic@gmail.com"/>
		<add key="UserName" value="consultorioappistic@gmail.com"/>
		<add key="Password" value="tniunzcormdztjhb"/>
	</MailSettings>

</configuration>
